<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="container">
            <a class="navbar-brand" href="/">Koa Things</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/add">Add Things</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>