<h1 class="display-4 mb-4">
    Add Thing
</h1>
<form action="/add" method="POST">
    <div class="form-group d-flex-col justify-content-start align-items-center">
        <input type="text" name="thing" class="form-control form-control-lg mb-4" placeholder="Add something you love">
        <div class="d-flex  align-items-center">
            <input type="submit" value="Add" class="btn btn-dark btn-lg">
            <a href="/" class="btn btn-danger btn-lg">Cancel</a>
        </div>
    </div>
</form>